* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Sora", sans-serif;
    text-decoration: none;
}

header {
    background: linear-gradient(rgba(6, 18, 30, 0.9), rgba(6, 18, 30, 0.9)), url(/assets/bg_img.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    width: 100%;
}

.banner-container ul {
    display: flex;
    gap: 10px;
}

.icons-container{
    display: flex;
    gap: 1rem;
}

.fa-instagram,
.fa-facebook{
    color: #fff;
    font-size: 1.5rem;
    transition: 0.3s all;
}
.fa-instagram:hover,
.fa-facebook:hover{
    color: #dbdadb;
    transform: scale(1.5);
}

.logo-container{
    max-width: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo-container img{
    width: 100%;
    height: auto;
}

.link{
    width: 167px;
    height: 38px;
    border: 2px solid #bcbcbc;
    text-align: center;
    padding: 8px;
    font-weight: 600;
    border-radius: 5px;
}

.link a{
    color: #fff;
    transition: 0.3s ease;
}
.link a:hover{
    color: #bcbcbc;
}

.titulo-banner-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 60%; 
    gap: 2.8em;
}

.titulo p{
    padding: 1em;
    color: #fefbff;
}

.link-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-banner {
    width: 200px;
    height: 40px;
    background-color: #d94140;
    border: none;
    color: #fff;
    font-weight: 600;
    transition: background-color 0.3s ease;
    padding: 10px;
    cursor: pointer;
}

.button-banner:hover {
    background-color: #b42b2b;
    color: #fefbff;
}

        /*Main*/

.about-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(6, 18, 30, 2), rgba(6, 18, 30, 1));
    width: 100%;
    min-height: 70vh;
    height: 100%;
}

.container-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-top: 20px;
}

.bottom-images{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 20px;
}

.bottom-images img{
    max-width: 200px;
    width: 100%;
    height: 200px;
}

.bottom-images .horizontal{
    margin-left: 100px;
}

.about-text{
    width: 50%;
}

.about{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    color: #fff;
    
}

.about h1{
    font-size: 44px;
    font-weight: 600;
}

        /*Section/Services*/

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
    margin-top: 40px;
}

.services-text{
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 40%;
}

.services-text h1{
    font-size: 44px;
    font-weight: 600;
}

.services-text h5{
    color: #323232;
}

#cards-container {
    display: flex;
    gap: 24px;
    padding: 54px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 300px;
    width: 100%;
    height: 350px;
    text-align: center;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s;
    
}

.card:hover{
    transform: scale(1.1);
}

.card img {
    width: 100%;
    height: 80%;
}
.info-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
}

.info-container button{
    color: #fff;
    padding: 10px;
    border: none;
    background-color: #d94140;
    border-radius: 8px;
}

            /*Footer*/
.footer{
  background-color: #fff;;
  color: #232224;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}

.footer h2{
    background-color: #fff;
    color: #000;
    font-weight: 600;
    font-size: 40px;
}

.map{
    width: 100%;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 54px;
    gap: 24px;
    color: #fff;
    background: linear-gradient(to bottom, rgba(6, 18, 30, 2), rgba(6, 18, 30, 1));
}

.logo-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-footer img{
    width: 20%;
    height: 20%;

}

.icons-footer{
    display: flex;
    gap: 8px;
    color: #fff;
}

.btn-whatsapp img{
    max-width: 74px;
   position: fixed; 
   bottom: 14px;
   right: 24px;
   z-index: 99;
   transition: transform 0.4s;
}

.btn-whatsapp img:hover{
    transform: scale(1.1);
}



/* Ajustes gerais para telas menores */
@media screen and (max-width: 1400px) {
    .banner-container, .titulo-banner-container {
        flex-direction: column;
        align-items: center;
    }

    .icons-container, .logo-container, .link {
        margin: 0.5em 0;
    }

    .titulo h1 {
        font-size: 32px;
        line-height: 1.2;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .bottom-images{
        display: flex;
        gap: 2rem;
    }
    
    .about{
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1399px) {
    .banner-container, .titulo-banner-container {
        flex-direction: column;
        align-items: center;
    }

    .icons-container, .logo-container, .link {
        margin: 0.5em 0;
    }

    .titulo h1 {
        font-size: 32px;
        line-height: 1.2;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .bottom-images{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        gap: 2rem;
    }

    .bottom-images .horizontal{
       margin: 0; 
    }
    
    .about{
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
}

/* Ajustes para tablets e celulares */
@media screen and (max-width: 1225px) {
    .banner-container, .titulo-banner-container {
        padding: 1em;
    }

    .services-text, .about-text {
        width: 90%;
    }

    .services-text h1 {
        font-size: 36px;
    }

    .about{
        text-align: center;
        
        margin-top: 20px;
    }

    .about h1 {
        font-size: 32px;
    }

    .bottom-images .horizontal{
        display: none;
    }


    #cards-container {
        flex-direction: column;
        padding: 1em;
    }

    .map {
        width: 100%;
        height: 300px;
    }

    .btn-whatsapp img {
        max-width: 50px;
    }
}

@media screen and (max-width: 768px) {
    .banner-container, .titulo-banner-container {
        padding: 1em;
    }

    .services-text, .about-text {
        width: 90%;
    }

    .services-text h1 {
        font-size: 36px;
    }

    .about{
        text-align: center;
        
        margin-top: 20px;
    }

    .about h1 {
        font-size: 32px;
    }

    .bottom-images{
        display: none;
    }


    #cards-container {
        flex-direction: column;
        padding: 1em;
    }

    .map {
        width: 100%;
        height: 300px;
    }

    .btn-whatsapp img {
        max-width: 50px;
    }
}

/* Ajustes para smartphones */
@media screen and (max-width: 400px) {
    .titulo h1 {
        font-size: 24px;
        padding: 0.5em;
    }

    .button-banner, .link {
        width: 100%;
        font-size: 0.9em;
        padding: 8px;
    }

    .icons-container a, .icons-footer a {
        font-size: 1.2rem;
    }

    .logo-footer img, .logo-container img {
        width: 60%;
    }

    .about h1, .services-text h1 {
        font-size: 28px;
    }
    .bottom-images{
        display: none;
    }
    
    .footer h2 {
        font-size: 24px;
    }

    
}
